
@{
    ViewBag.Title = "CourseProject";
}

<h2>CourseProject</h2>

<div class="btn-group btn-group-justified" role="group" aria-label="..."> 
    <div class="col-md-4">
        <h3>@Html.ActionLink("Ethnography", "TwoOne", "CourseProject", new { @class = "btn btn-default" })</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Scenarios", "TwoTwo", "CourseProject")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Draft Layout", "TwoThree", "CourseProject")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Focus Group", "TwoFour", "CourseProject")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("UI", "TwoFive", "CourseProject")</h3>
    </div>
</div>
