@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS410 HCI - Lab Book</h1>  
    <h3>Devin Sills, Luke Waninger</h3>
</div>
<h4><em>Site Announcements</em></h4>
<p>
    28 July 2016: Updated the @Html.ActionLink("Multiuser Application (4b)", "Four", "LabProject") page content.
</p>
<p>
    27 July 2016: Updated the @Html.ActionLink("Course Project - User Interface", "UI", "CourseProject") content.
</p>
<p>
    20 July 2016: Updated the @Html.ActionLink("Focus Group", "FocusGroup", "CourseProject") content.
</p>
@*
<p>
    14 July 2016: Updated @Html.ActionLink("Draft Layouts", "DraftLayout", "CourseProject") and
                  @Html.ActionLink("Performance Metrics", "Scenarios", "CourseProject").
</p>
<p>
    12 July 2016: Added download link to Android APK for @Html.ActionLink("Project 3", "Three", "LabProject").
</p>
<p>
    1 July 2016: The interface for Lab Project Two has been implemented. 
    Click the 'New Patient' at @Html.ActionLink("Project 2", "Two", "LabProject") button to check it out.
</p>*@

